<a href="https://colab.research.google.com/github/jsb616/pythonStudy25/blob/master/BaseStringType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문자열 만드는 4가지 방법

1. 큰따옴표로 둘러싸기
2. 작은따옴표로 둘러싸기
3. 큰따옴표 3개를 연속으로 써서 둘러싸기
4. 작은따옴표 3개를 연속으로 써서 둘러싸기

In [ ]:
# 큰따옴표로 둘러싸기
print("Hello Python")

Hello Python

In [ ]:
# 작은따옴표로 둘러싸기
print('apple')

apple

In [ ]:
# 큰따옴표 3개 연속으로 둘러싸기
print("""Hello Python""")

# 작은따옴표 3개 연속으로 둘러싸기
print('''apple''')

Hello Python
apple

문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶은 경우

In [ ]:
food = "Python's favorite food is perl."
food

"Python's favorite food is perl."

In [ ]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [ ]:
# 역슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기
food = 'Python\'s favorite food is perl.'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl.
"Python is very easy." he says.

여러 줄인 문자열을 변수에 대입하고 싶을 때

In [ ]:
# 줄을 바꾸는 이스케이프 코드 \n 넣기
s1 = "Life is too short\nYou need python"
print(s1)

Life is too short
You need python

In [ ]:
# 연속된 3개의 작은따옴표 or 큰따옴표 사용하기 <- 여러 줄일 경우 이 방법이 제일 깔끔함
s2 = """Life is too short
You need python"""
s3 = '''Life is too short.
You need python.'''

print(s2)
print(s3)

Life is too short
You need python
Life is too short.
You need python.

문자열 연산

In [ ]:
# 문자열 더하기
a = "Python"
b = " is fun!"
print(a + b)

Python is fun!

In [ ]:
# 문자열 곱하기
c = "apple"
print(c * 2)

appleapple

In [ ]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

문자열 길이 구하기

len() 함수

In [ ]:
a = "Life is too short"
print(len(a))

17

문자열 인덱싱 & 슬라이싱

In [ ]:
# 문자열 인덱싱
# 파이썬은 0부터 숫자를 센다.

a = "Life is too short, You need Python"
print(a[3])

e

In [ ]:
print(a[-0])    # a[-0] == a[0]
print(a[-1])

L
n

In [ ]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
print(a[0:4])

Life

In [ ]:
a[:3]

'Lif'

In [ ]:
print(a[0:4])
print(a[5:7])
print(a[12:17])

Life
is
short

In [ ]:
print(a[19:])   # 끝 번호를 생략하면 맨끝까지 출력
print(a[:17])   # 시작 번호를 생략하면 맨처음부터 출력

You need Python
Life is too short

In [ ]:
a[:]   # 문자열 전체 출력

'Life is too short, You need Python'

In [ ]:
# 슬라이싱에서도 인덱싱과 똑같이 - 사용가능
a[19:-7]

'You need'

In [ ]:
# 슬라이싱으로 문자열 나누기
a = "20250226Cold"
date = a[:8]
weather = a[8:]

print(date)
print(weather)

20250226
Cold

In [ ]:
a = "20250226Cold"
year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2025
0226
Cold

In [ ]:
# Pithon을 Python으로 바꾸는 예제

x = "Pithon"
x[1] = 'y'   # 오류 발생 why? 문자열의 요솟값은 바꿀 수 없는 값! 한번 만들어진 객체는 못 바꾼다.
print(x)

TypeError: 'str' object does not support item assignment

In [ ]:
x = "Pithon"
y = x[:1] + "y" + x[2:]
print(y)

Python

문자열 포매팅 (string formatting)

In [ ]:
# 정수 : %d
# 부동소수 : %f
# 문자열 : %s
# 문자 1개 : %c

print("I eat %d apples." % 5)
print("I eat %s apples." % "five")

number = 3
print("I eat %d apples." % number)

I eat 5 apples.
I eat five apples.
I eat 3 apples.

In [ ]:
number = 10
day = "three"
print("I ate %d apples, so I was sick for %s days." % (number, day))

I ate 10 apples, so I was sick for three days.

In [ ]:
# 문자 % 자체를 쓰고 싶을 때는 %%

# Error is 98%. 를 출력하고 싶다.
"Error is %d%." % 98  # 오류 발생

ValueError: incomplete format

In [ ]:
"Error is %d%%." % 98

'Error is 98%.'

포맷 코드(%d, %s, ...)와 숫자 함께 사용하기

In [ ]:
# 정렬과 공백

# 오른쪽 정렬이 기본값
"%10s" % "hi"   # 10개인 문자열 공간에서 대입값을 오른쪽에 넣고 앞의 나머지는 공백으로 출력됨

'        hi'

In [ ]:
"%-10s" % "hi"  # 반대로(왼쪽 정렬)

'hi        '

In [ ]:
# "OOO님 환영합니다!" 같은 걸 쓰고 싶을 때 쓴다.
"%-10sapple" % "hi"

'hi        apple'

In [ ]:
# 소수점 표현
"%0.4f" % 3.421567486   # 3.421567486를 소수점 네 번째 자리까지만 표현

'3.4216'

In [ ]:
"%.4f" % 3.421567486    # 위와 똑같은 표현. 0 생략 가능

'3.4216'

In [ ]:
"%10.5f" % 3.421567486   # 전체 10개의 문자열 공간에 3.421567486를 소수점 다섯 번째 자리까지만 표현

'   3.42157'

format 함수를 사용한 포맷팅

In [ ]:
# 숫자 대입
"I eat {0} apples.".format(3)

'I eat 3 apples.'

In [ ]:
# 문자열 대입
"I eat {0} apples.".format("four")

'I eat four apples.'

In [ ]:
# 변수 대입
a = 5
print("I eat {0} apples.".format(a))
b = "two"
print("I eat {0} apples.".format(b))

I eat 5 apples.
I eat two apples.

In [ ]:
# 2개 이상 대입
number = 4
day = "two"
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 4 apples, so I was sick for two days.'

In [ ]:
"I ate {} apples, so I was sick for {} days.".format(number, day)   # {} 안 숫자 생략 가능. 단, (number, day) 순서대로 대입

'I ate 4 apples, so I was sick for two days.'

In [ ]:
# 인덱스와 이름 혼용해서 넣기 가능
"I ate {0} apples, so I was sick for {day} days.".format(8, day = 5)

'I ate 8 apples, so I was sick for 5 days.'

In [ ]:
# 왼쪽 정렬
"{0:<10}".format("hi")  # :<10은 문자열을 왼쪽 정렬하고 문자열 총 길이를 10으로

'hi        '

In [ ]:
# 오른쪽 정렬
"{:>10}".format("apple")   # :>10은 문자열을 오른쪽 정렬하고 문자열 총 길이를 10으로

'     apple'

In [ ]:
# 가운데 정렬
"{0:^10}".format("hi")   # :^10은 문자열을 가운데 정렬하고 문자열 총 길이를 10으로

'    hi    '

In [ ]:
# 공백 채우기
"{:-^20}".format("cut")   # 문자열을 가운데 정렬하고 공백은 -로 채움

'--------cut---------'

In [ ]:
"{:+<10}".format("hi")

'hi++++++++'

In [ ]:
# 소수점 표현
"{0:0.4f}".format(3.42134234)

'3.4213'

In [ ]:
"{:<10.4f}".format(3.42134234)

'3.4213    '

In [ ]:
# { 또는 } 문자 그대로 사용하고 싶을 때
"{{ and }}".format()

'{ and }'

In [ ]:
"{{}}".format()

'{}'

f 문자열 포매팅 <- 파이썬 3.6버전 부터 가능

In [ ]:
name = "조수빈"
age = 24
print(f"내 이름은 {name}이고, 나이는 {age}이야.")

내 이름은 조수빈이고, 나이는 24이야.

In [ ]:
# f 문자열 포매팅은 계산 가능
f"내년에는 나이가 {age + 1}이 될거야."

'내년에는 나이가 25이 될거야.'

In [ ]:
# 딕셔너리 활용
d = {'name' : '홍길동', 'age' : '30'}
print(f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다.")

나의 이름은 홍길동입니다. 나이는 30입니다.

In [ ]:
print(f'{"hi":<10}')  # 왼쪽 정렬
print(f'{"hi":>10}')  # 오른쪽 정렬
print(f'{"hi":^10}')  # 가운데 정렬

hi
        hi
    hi

In [ ]:
# 공백 채우기
print(f'{"cut":-^20}')

--------cut---------

In [ ]:
# 소수점 표현
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [ ]:
# { } 그대로 표현
f'{{ }}'

'{ }'

문자열 관련 함수

In [ ]:
# count : 문자 개수 세기 -> 응용:이메일 판독할때(@가 하나인지 확인)
a = "apple"
print(a.count("p"))

2

In [ ]:
# find : 문자 위치 알려주기
b = "Python"
print(b.find("o"))
print(b.find("a"))  # 문자열에 존재하지 않는 경우 -1 반환

4
-1

In [ ]:
# index : 문자 위치 알려주기
b = "Python"
print(b.index("o"))
print(b.index("a"))   # 문자열에 존재하지 않는 경우 오류 발생

4

ValueError: substring not found

In [ ]:
# join : 문자열 삽입
print(", ".join("123456789"))
print(", ".join(["1", "b", "3"]))

1, 2, 3, 4, 5, 6, 7, 8, 9
1, b, 3

In [ ]:
# upper : 소문자를 대문자로
# lower : 대문자를 소문자로
print("python".upper())
print("HI".lower())

PYTHON
hi

In [ ]:
# lstrip : 왼쪽 공백 지우기
# rstrip : 오른쪽 공백 지우기
# strip : 양쪽 공백 지우기
print("   hi   ".lstrip())
print("   hi   ".rstrip())
print("   hi   ".strip())

hi
   hi
hi

In [ ]:
# replace : 문자열 바꾸기
a = "I love Python."
a.replace("love", "like")

'I like Python.'

In [ ]:
# split : 문자열 나누기
a = "1 2 3 4 5 6 7 8 9 10"

print(a.split())      # 괄호 안에 아무것도 넣지 않으면 공백([Space], [Tab], [Enter]) 기준으로 나눔
print(a.split(" "))   # 결과 같음

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
b = "a-b-c-d-e"
b.split("-")

['a', 'b', 'c', 'd', 'e']

연습

In [2]:
a = "hi"
f'{a:<10}'

'hi        '

In [4]:
f'{{abcdef'

'{abcdef'

In [5]:
f'abcdef}}'

'abcdef}'

In [8]:
a = input("이메일을 입력하세요 : ")
if a.count('@') == 1:
  print("올바른 이메일입니다.")
else:
  print("이메일이 아닙니다.")

이메일을 입력하세요 : asd2@nnn
올바른 이메일입니다.

In [13]:
a = input("이메일을 입력하세요 : ")
if a.count('@') == 1 and a.count('.') == 1:
  print("올바른 이메일입니다.")
else:
  print("이메일이 아닙니다.")

이메일을 입력하세요 : asd@cc.net
올바른 이메일입니다.

In [10]:
a = "asd@naver.com"
'.com' in a

True

In [15]:
a = input("이메일을 입력하세요 : ")
if a.count('@') == 1 and '.' in a:
  print("올바른 이메일입니다.")
else:
  print("이메일이 아닙니다.")

이메일을 입력하세요 : asd@n.n
올바른 이메일입니다.