<a href="https://colab.research.google.com/github/jsb616/pythonStudy25/blob/master/BaseListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트 만들기

In [3]:
a = []
b = list()
c = [1, 2, 3]
d = ['a', 'b', 'c']
e = [1, 2, 'a', 'b']

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[]
[1, 2, 3]
['a', 'b', 'c']
[1, 2, 'a', 'b']

리스트 인덱싱 & 슬라이싱

In [1]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[0])
print(a[3])
print(a[3][0])

1
['a', 'b', 'c']
a

In [2]:
b = [1, 2, ['a', 'b', ['Life', 'is']]]
b[-1][-1][0]

'Life'

In [6]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0:3])
print(a[:2])
print(a[2:])
print(a[3][:1])

[1, 2, 3]
[1, 2]
[3, ['a', 'b', 'c']]
['a']

리스트 연산

In [7]:
# 더하기
a = [10, 20, 30]
b = [40, 50]
print(a + b)

[10, 20, 30, 40, 50]

In [9]:
# 곱하기
a = [0]
a * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

리스트 길이

In [11]:
a = [0] * 5
print(a)
len(a)

[0, 0, 0, 0, 0]

5

리스트 수정 및 삭제

In [12]:
# 값 수정
a = [1, 2, 3, 5]
a[3] = 4
print(a)

[1, 2, 3, 4]

In [16]:
# 요소 삭제
b = [0, 10, 20, 30]
del b[0]
b

[10, 20, 30]

In [17]:
del b
print(b)    # b가 삭제되었기 때문에 오류 발생

NameError: name 'b' is not defined

리스트 관련 함수

In [18]:
# append : 리스트에 요소 추가
a = []
a.append(1)
a.append(2)
a.append(3)
a

[1, 2, 3]

In [19]:
a.append(['a', 'b'])    # 자료형도 추가 가능
a

[1, 2, 3, ['a', 'b']]

In [20]:
# sort : 리스트 정렬
a = [2, 52, 4, 20]
a.sort()
a

[2, 4, 20, 52]

In [22]:
b = [10, 50, 20, 60]
print(sorted(b))    # .sort()와 sorted() 모두 정렬을 하지만 sorted()는 객체 자체를 바꾸지 않음
print(b)

[10, 20, 50, 60]
[10, 50, 20, 60]

In [23]:
# reverse : 리스트 뒤집기
a = [10, 20, 30]
a.reverse()
a

[30, 20, 10]

In [25]:
b = [9, 2, 5, 3, 4, 8, 6, 1, 7]
b.sort()    # 오름차순 정렬
print(b)
b.reverse() # 내림차순 정렬이 됨
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
# index : 인덱스 반환
a = [10, 20, 30]
a.index(20)

1

In [27]:
a.index(0)  # 없는 값을 쓰면 오류 발생

ValueError: 0 is not in list

In [28]:
# insert : 요소 삽입
# insert(a, b)는 a번째 위치에 b를 집어넣는다는 의미

a = [1, 2, 4, 5]
a.insert(2, 3)
a

[1, 2, 3, 4, 5]

In [29]:
# remove : 요소 제거
a = [0, 10, 20, 30]
a.remove(0)
a

[10, 20, 30]

In [31]:
# remove(x)는 첫 번째로 나오는 x를 삭제하는 함수
a = [1, 2, 3, 2, 1]
a.remove(2)
print(a)
a.remove(2)
print(a)

[1, 3, 2, 1]
[1, 3, 1]

In [32]:
# pop : 요소를 리턴하고 삭제
a = [0, 1, 2, 3, 4, 5]
a.pop()   # () 괄호 안에 넣지 않으면 맨 마지막 요소 리턴 후 삭제
print(a)
a.pop(0)  # .pop(x)이면 x번째 요소 리턴 후 삭제
print(a)

[0, 1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
# count : 요소 개수 세기
# .count(x) : x의 개수를 셈

a = [1, 2, 3, 2, 1]
a.count(1)

2

In [34]:
# extend : 리스트 확장
# .extend(x) : x는 리스트만 올 수 있고, 원래의 리스트에 x를 더함

a = [1, 2, 3]
b = [10, 20, 30]
a.extend([4, 5])
print(a)
print(a.extend(b))
print(a)

[1, 2, 3, 4, 5]
None
[1, 2, 3, 4, 5, 10, 20, 30]

In [35]:
# a.extend([4, 5])는 a += [4, 5]와 동일
a = [1, 2, 3]
a.extend([4, 5])
print(a)

a = [1, 2, 3]
a += [4, 5]
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]