<a href="https://colab.research.google.com/github/jsb616/pythonStudy25/blob/master/BaseSetType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

집합 만들기

In [ ]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [ ]:
s2 = set('Hello')   # 집합은 중복을 허용하지 않음
s2

{'H', 'e', 'l', 'o'}

집합 특징

1. 중복을 허용하지 않는다.
2. 순서가 없다. -> 인덱싱을 지원하지 않음

교집합

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

합집합

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

차집합

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

집합 관련 함수

In [ ]:
# add : 값 1개 추가
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [ ]:
# update : 값 여러 개 추가
s1 = set([1, 2, 3])
s1.update([4, 5])
s1

{1, 2, 3, 4, 5}

In [ ]:
# remove : 특정 값 삭제
s1 = set([1, 2, 3, 5])
s1.remove(5)
s1

{1, 2, 3}